.AppButton {
    color: #FFFFFFFF;
    padding: 19px 32px;
    border-radius: 32px;
    box-sizing: border-box;
}

.AppButton.primary {
    background: #1FCC79;
    color: #FFFFFFFF;
}

.AppButton.grey {
    background: #F4F5F7;
    color: var(--main);
}

.AppButton.transparent {
    background: transparent;
    border: 1px solid #D0DBEA;
    color: var(--main);
}

/* Add another item style */
.AppButton.addItemBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.AppButton.addItemBtn .btnText {
    margin-left: 5px;
    font-weight: 500;
    font-size: 15px;
}