.Ingredients {
    width: 100%;
}

.Ingredients .AppButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.Ingredients .AppButton .btnText {
   margin-left: 5px;
   font-weight: 500;
   font-size: 15px;
}

.Ingredients .ingredientsContainer {
   width: 100%;
}

.Ingredients .ingredientsContainer .Ingredient + .Ingredient {
    margin-top: 24px;
}