.Ingredients {
    width: 100%;
}

.Ingredients .ingredientsContainer {
   width: 100%;
}

.Ingredients .ingredientsContainer .Ingredient + .Ingredient {
    margin-top: 24px;
}

.Ingredients .AddItemButton {
    margin-top: 32px;
}