.UploadRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 24px 24px 0 24px;
    color: var(  --secondary);
    z-index: 9999;
    background: #ffffff;
}

.UploadRecipe .recipeFormContainer {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 150px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

.UploadRecipe .section {
    width: 100%;
}

.UploadRecipe .sectionsContainer > .section + .section {
    margin-top: 24px;
}
 
.UploadRecipe .sectionsContainer .groupInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.UploadRecipe .sectionsContainer .groupInput .title {
    margin-bottom: 12px;
}

.UploadRecipe > .section + .section {
    margin-top: 16px;
}

.UploadRecipe .stepsSection {
    display: flex;
    justify-content: space-between;
}

.UploadRecipe .stepsSection .stepIndicator {
    color: var(--secondary);
    font-size: 17px;
    font-weight: 600;
}

.UploadRecipe .stepsSection .stepIndicator .currentState {
    color: var(--main);
}

.UploadRecipe .stepsSection .cancelBtn{
    color: #FF6464;
    font-weight: 600;
    font-size: 17px;
}
