.UploadRecipeDetails .groupInput .title .durationMinutesText {
    color: var(--secondary);
    font-size: 17px;
    font-weight: 500;
    margin-left: 4px;
}

.UploadRecipeDetails .coverSection {
    position: relative;
    height: 161px;
    border: 2px dashed #D0DBEA;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.UploadRecipeDetails .coverSection.selectedImage {
    padding: 0; 
    border: none;
}

.fileInputContainer {
    position: relative;
}

.fileInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.fileImage {
    width: inherit;
    height: inherit;
    border-radius: 16px;
}

.UploadRecipeDetails .coverSection .removeSelectedImage {
    position: absolute;
    right: 10px;
    bottom: -30px;
    color: #607d8b;
}