.CustomPopup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 9999999999999999;
  font-family: 'Poppins';
}

.CustomPopup.show {
    visibility: visible;
    opacity: 1;
}

.CustomPopup .popup {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    transition: all 5s ease-in-out;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.CustomPopup .popup .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.CustomPopup .popup h2 {
  margin: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.CustomPopup .popup .close {
  position: absolute;
  right: 0px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.CustomPopup .popup .close:hover {
  cursor: pointer;
  color: #000;
}

.CustomPopup .popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .CustomPopup .popup {
    width: 70%;
  }
}
